@import "vars";
.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    margin: 27px 0;

    width: 200px;
  }
  &__link {
    padding: 15px 30px;
    background-color: $blue-color;
    text-decoration: none;
    color: $light-color;
    border-radius: 6px;
    transition: all 0.3s;
    &:hover {
      background-color: rgb(31, 84, 184);
    }
  }
}
.footer-second {
  background-color: $blue-color;

  &__p {
    padding: 45px 0;
    font-family: $main-font;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 30px */

    color: $light-color;
    display: inline-block;
  }
  &__contact {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    border-radius: 10px;
    padding: 15px 31px;
    background-color: $light-color;
    color: $blue-color;
    float: right;
    margin-top: 45px;
    margin-right: 230px;
    transition: 0.4s;
    &:hover {
      background-color: rgb(10, 10, 9);
    }
  }
}
