@import "vars";
.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 40px;
  &__link {
    text-decoration: none;
    color: $main-color;
    font-family: $main-font;
    padding: 35px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    transition: all 0.3s;
    &:hover {
      border-bottom: 1px solid $blue-color;
      color: $blue-color;
    }
  }
}
